<launch>
<arg name="robot_name" default="" />
<group ns="$(arg robot_name)">
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch">
    <arg name="multi_robot_name" value="$(arg robot_name)"/>
    <arg name="set_lidar_frame_id" value="$(arg robot_name)/base_scan"/>
  </include>
</group>
</launch>
