<?xml version="1.0"?>

<launch>

    <!-- run depthimage_to_laserscan node -->
    <include file="$(find freenect_launch)/launch/examples/freenect-xyz.launch" />
    <node pkg="tf" type="static_transform_publisher" name="baselink2kinect_scan"
    args="-0.15 0 0.3 0 0 0 base_link kinect_link 100" />  
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="kinectimage_to_laserscan">

        <remap from="image" to="/kinect/depth/image"/>
        <remap from="camera_info" to="/kinect/depth/camera_info"/>
        <remap from="scan" to="/kinect/scan"/>
        <rosparam>
            scan_height: 10
            scan_time: 0.05
            range_min: 0.45
            range_max: 5.0
            output_frame_id: kinect_link
        </rosparam>

    </node>

</launch>
