<launch>

  <!-- have all the old parameters to prevent roslaunch errors -->
  <arg name="manager" default="" />
  <arg name="points_xyzrgb" default="" />
  <arg name="publish_metric" default="" />
  <arg name="publish_metric_rect" default="" />
  <arg name="allow_software_registration" default="" />
  <arg name="allow_hardware_registration" default="" />
  <arg name="respawn" default="" />
  <arg name="rgb" default="" />
  <arg name="depth" default="" />
  <arg name="depth_registered" default="" />
  <arg name="suffix" default="" />

  <!-- deprecation notice -->
  <node name="depth_registered_deprecated"
        pkg="rgbd_launch"
        type="hydro-upgrade-notice"
        required="true">
    <param name="name" value="depth_registered.launch" />
    <param name="from_pkg" value="freenect_launch" />
    <param name="to_pkg" value="rgbd_launch" />
    <param name="from_pkg_path" value="launch/includes/depth_registered.launch" />
    <param name="to_pkg_path" value="launch/includes/depth_registered.launch.xml" />
  </node>

</launch>
