<launch>

  <!-- have all the old parameters to prevent roslaunch errors -->
  <arg name="manager" default="" />
  <arg name="device_id" default="" />
  <arg name="rgb_frame_id" default="" />
  <arg name="depth_frame_id" default="" />
  <arg name="rgb_camera_info_url" default="" />
  <arg name="depth_camera_info_url" default="" />
  <arg name="depth_registration" default="" />
  <arg name="respawn" default="" />
  <arg name="rgb" default="" />
  <arg name="ir" default="" />
  <arg name="depth" default="" />
  <arg name="depth_registered" default="" />
  <arg name="projector" default="" />

  <arg name="data_skip" default="" />
  <arg name="libfreenect_debug" default="" />
  <arg name="enable_rgb_diagnostics" default="" />
  <arg name="enable_ir_diagnostics" default="" />
  <arg name="enable_depth_diagnostics" default="" />
  <arg name="diagnostics_max_frequency" default="" />
  <arg name="diagnostics_min_frequency" default="" />
  <arg name="diagnostics_tolerance" default="" />
  <arg name="diagnostics_window_time" default="" />

  <!-- deprecation notice -->
  <node name="depth_deprecated"
        pkg="rgbd_launch"
        type="hydro-upgrade-notice"
        required="true">
    <param name="name" value="device.launch" />
    <param name="from_pkg" value="freenect_launch" />
    <param name="to_pkg" value="freenect_launch" />
    <param name="from_pkg_path" value="launch/includes/device.launch" />
    <param name="to_pkg_path" value="launch/includes/device.launch.xml" />
  </node>

</launch>
